body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex:auto;
}

.logo{
    width: 500px;
}

.head h1{
    text-align: center;
}

.intro{
    font-size: large;
}

.closing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closing :first-child{
    font-size: medium;
    font-weight: 700;
}